{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI NCMA API",
    "description": "A sample API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://realtime.nocodemapapp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v0/map/{mapId}/locations": {
      "get": {
        "description": "List all locations for a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of locations returned in each request. Must be less than or equal to 100. Default is 100.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to list locations starting on the order from a location in your previous request",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}/location": {
      "post": {
        "description": "Create a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}/location/{locationId}": {
      "get": {
        "description": "Retrieve a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a location on a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}": {
      "get": {
        "description": "Retrieve one map that you created",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Map"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/maps": {
      "get": {
        "description": "Returns all maps from the system that the user has access to",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Maps response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Map"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Map": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of Map",
            "type": "string",
            "example": "a1b2b33b4b123"
          },
          "name": {
            "description": "The name of Map",
            "type": "string",
            "example": "All Podcast story locations"
          },
          "isDeleted": {
            "description": "True if Map is deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Timestamp when this map was created",
            "type": "string",
            "example": "2024-02-05T15:24:11.000Z"
          },
          "isPublished": {
            "description": "True if this map is published to public",
            "type": "boolean",
            "example": false
          },
          "googleMapApiKey": {
            "description": "Google Maps API Key for loading this map",
            "type": "string",
            "example": "AIzaSy123456789123456789123456789"
          },
          "geocodingApiKey": {
            "description": "Google Maps API key for all geocoding required when importing locations.",
            "type": "string",
            "example": "AIzaSy123456789123456789123456789"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          }
        }
      },
      "Location": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of Location",
            "type": "string",
            "example": "04P1DY1YbwePX2rjKo3H"
          },
          "name": {
            "description": "The name of Location",
            "type": "string",
            "example": "The Kooks Restaurant"
          },
          "placeId": {
            "description": "The placeId resolved (via geocoding) for this location",
            "type": "string",
            "example": "ChIJ6_ktdpMVvEgRJBv3ZEgxsD8"
          },
          "latLngLiteral": {
            "type": "object",
            "properties": {
              "lat": {
                "description": "Latitude of this location",
                "type": "integer",
                "format": "int64",
                "example": "61.89263500000001"
              },
              "lng": {
                "description": "Latitude of this location",
                "type": "integer",
                "format": "int64",
                "example": "-6.911805999999999"
              }
            }
          },
          "properties": {
            "type": "object",
            "description": "This object contains all the data fields that were passed in for this location at import/creation",
            "example": {
              "Restaurant": "The Kooks Restaurant",
              "Address": "Frammi við Gjónna, Leynavatn 410, Faroe Islands",
              "key": "The Kooks Restaurant"
            }
          }
        }
      },
      "NewLocation": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "All data of this location as object. MUST include a name & address field that was specified at the creation of Map.",
            "type": "object",
            "example": {
              "Name": "The Kooks Restaurant",
              "Address": "Frammi við Gjónna, Leynavatn 410, Faroe Islands",
              "key": "The Kooks Restaurant"
            }
          },
          "order": {
            "description": "By default locations are listed by {order} in ascending order. Specify if you have specific preference on where this location shall be shown in the list. By default, it’s appended to the end of list.",
            "type": "integer",
            "format": "int64",
            "example": "1"
          }
        }
      },
      "Field": {
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Name"
          },
          "type": {
            "enum": [
              "text",
              "date",
              "tag",
              "cta",
              "audio",
              "website",
              "phone",
              "address",
              "description",
              "image_link",
              "category",
              "placeName",
              "number"
            ],
            "example": "text"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}