{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI NCMA API",
    "description": "A sample API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nocodemapapp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v0/map/{mapId}/locations": {
      "get": {
        "description": "List all locations for a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}/location": {
      "post": {
        "description": "Create a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}/location/{locationId}": {
      "get": {
        "description": "Retrieve a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a location in a specific map",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "ID of the map location to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/map/{mapId}": {
      "get": {
        "description": "Retrieve one map that you created",
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "description": "ID of the map to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Map"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v0/maps": {
      "get": {
        "description": "Returns all maps from the system that the user has access to",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Maps response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Map"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Map": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {

          "id": {
            "description": "The ID of Map",
            "type": "string",
            "example": "a1b2b33b4b123"
          },
          "name": {
            "description": "The name of Map",
            "type": "string",
            "example": "All Podcast story locations"
          },
          "isDeleted": {
            "description": "True if Map is deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Timestamp when this map was created",
            "type": "string",
            "example": "2024-02-05T15:24:11.000Z"
          },
          "isPublished": {
            "description": "True if this map is published to public",
            "type": "boolean",
            "example": false
          },
          "googleMapApiKey": {
            "description": "Google Maps API Key for loading this map",
            "type": "string",
            "example": "AIzaSy123456789123456789123456789"
          },
          "geocodingApiKey": {
            "description": "Google Maps API key for all geocoding required when importing locations.",
            "type": "string",
            "example": "AIzaSy123456789123456789123456789"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          }
        }
      },
      "Location": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The name of Map",
            "type": "string"
          },
          "isDeleted": {
            "description": "True if Map is deleted",
            "type": "boolean"
          }
        }
      },
      "NewPlan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Map"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Field": {
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Name"
          },
          "type": {
            "enum": [
              "text",
              "date",
              "tag",
              "cta",
              "audio",
              "website",
              "phone",
              "address",
              "description",
              "image_link",
              "category",
              "placeName",
              "number"
            ],
            "example": "text"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}